<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <div th:if="${user != null}">
        <form th:action="@{/j_spring_security_logout}" method="post" id="logoutForm"></form>
        <script>
            function logoutSubmit() {
                document.getElementById("logoutForm").submit();
            }
        </script>
        <h3>Hi <span th:text="${user.email}">Username</span> (<a href="javascript:logoutSubmit()">logout</a>),</h3>
        <h4>Your credit: <span th:text="${user.userAccount.amount}">Amount</span> BYN</h4>
    </div>
    <h3>Would you like to buy tickets?</h3>
    <h4>Please choose <a th:href="@{/events}">events</a> to reserve ticket.</h4>
    <br>
    <h3>Have you bought some tickets already?</h3>
    <h4>Please check <a th:href="@{/tickets}">tickets page</a>.</h4>
</body>
</html>