<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Tickets</title>
</head>
<body>
<form action="#" th:action="@{/tickets}" method="get"  enctype="application/pdf">
    Event Name:
    <select id="eventName" name="eventName" onchange="updateSeances()">
        <option value='#'>...</option>
        <option th:each="name : ${eventNames}" th:value="${name}" th:text="${name}"></option>
    </select><br>
    Date time:
    <select id="dateTime" name="dateTime">
        <option value='#'>...</option>
    </select><br>
    <input type="submit"/>
</form>
<input type="hidden" id="eventDetailsByNameUrl" th:value="@{/events}">
<script th:src="@{/resources/vendors/jquery/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/resources/js/client-utils.js}"></script>
</body>
</html>